<!DOCTYPE html>
<html>
<head>
    <title>Flask app</title>
</head>
<body>
    <h1>{{ title }}</h1>
    Successfully added the record.
    <a href="{{ url_for('homepage')}}">Go to index</a>
</body>
</html>